Exact solution.synctex.gz
Exact solution.pdf
Exact solution.log
Exact solution.aux
Exact solution.bbl
Exact solution.blg
Exact solution.spl
Exact solution.out
Exact solution.toc
images/scripts_and_programs/dos
images/scripts_and_programs/Statsum/data/*
images/scripts_and_programs/Statsum/.venv/*
images/scripts_and_programs/Statsum/.idea/*